@font-face {
    font-family: 'game-font';
    src: url('../fonts/game-font/pressstart2p-regular-webfont.eot');
    src: url('../fonts/game-font/pressstart2p-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/game-font/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('../fonts/game-font/pressstart2p-regular-webfont.woff') format('woff'),
         url('../fonts/game-font/pressstart2p-regular-webfont.ttf') format('truetype'),
         url('../fonts/game-font/pressstart2p-regular-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal
}

body{
	background-color:black;
	/* background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; */
}

.kodemia-img{
	background-image: url("../img/kodemia-isotipo.png");
  	background-color: #cccccc;
	height: 20px;
	width: 20px;  
  	background-position: center;
  	background-repeat: repeat;
  	background-size: cover;
  	position: relative;
}

.fred-wrapper{
    background-color: #fcfce6;
	padding: 10px;
	border-radius: 3px
}

.fred-header h1,.fred-header h2,.fred-header .score-screen, .fred-header .user-screen{
	font-family: 'game-font';
    font-size: 1.5rem;
}

.fred-header h1{
	color: #333;
    padding-top: 10px;
    text-align: center;
}

.fred-header h2{
	color: brown;
    padding-top: 5px;
	text-align: center;
	font-size: 1rem;
}
.fred-header .score-screen{
	height: 50px;
    background: rgba(43, 6, 6,.5);
    color: red;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 30px;
	margin-bottom: 20px;
	border-radius: 3px
}

.fred-header .user-screen{
	height: 25px;
    background: rgba(43, 6, 6,.5);
    color: red;
    text-align: center;
    padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
    font-size: 12px;
	margin-bottom: 10px;
	border-radius: 3px
}

.fred-body .buttons-wrapper{
	display:grid;
	grid-gap:30px;
	background:#333;
    padding-bottom: 30px;
	padding-top: 15px;
	border-radius: 20px;
    justify-content: center;
	grid-template-areas:
	'button1 button2 button3'
	'button8 button9 button4'
	'button7 button6 button5' 
}

.fred-body .buttons-wrapper .fred-button{
	width:18vw;
	height:18vw;
	border-radius:20px;
	color:white;
	position: relative;
	opacity:.5;
	box-shadow: 3px 3px 0px black;
	transition: all .5s;

}

.fred-body .buttons-wrapper .fred-button:focus {
    opacity:1;
	box-shadow: 6px 6px 6px gray;
}

.fred-body .buttons-wrapper .fred-button.active{
	opacity:1;
	box-shadow: 6px 6px 6px gray;
}

.fred-body .buttons-wrapper .fred-button span{
	position: absolute;
    bottom: -22px;
    text-align: center;
    display: block;
    width: 100%;
}

.fred-body .buttons-wrapper .fred-button-1{
	grid-area:button1;
	background-color: red;
}
.fred-body .buttons-wrapper .fred-button-2{
	grid-area:button2;
	background-color: yellow;
}
.fred-body .buttons-wrapper .fred-button-3{
	grid-area:button3;
	background-color: orange;
}
.fred-body .buttons-wrapper .fred-button-4{
	grid-area:button4;
	background-color: green;
}
.fred-body .buttons-wrapper .fred-button-5{
	grid-area:button5;
	background-color: blue;
}
.fred-body .buttons-wrapper .fred-button-6{
	grid-area:button6;
	background-color: skyblue;
}
.fred-body .buttons-wrapper .fred-button-7{
	grid-area:button7;
	background-color: purple;
}
.fred-body .buttons-wrapper .fred-button-8{
	grid-area:button8;
	background-color: lime;
}
.fred-body .buttons-wrapper .fred-button-9{
	grid-area:button9;
	background-color:pink;
}

.fred-footer h2{
	color: #333;
    font-family: courier;
    text-align: center;
    font-size: 1.4rem;
}